                            <div class="row">
                                
								<div class="col-xl-3 col-md-6">
									<div class="card prod-p-card bg-c-blue">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">Total</h6>
													<h3 class="m-b-0 text-white">150</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-database text-c-blue f-18"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-3 col-md-6">
									<div class="card prod-p-card bg-c-green">
										<div class="card-body">
											<div class="row align-items-center m-b-25">
												<div class="col">
													<h6 class="m-b-5 text-white">Average Price</h6>
													<h3 class="m-b-0 text-white">$6,780</h3>
												</div>
												<div class="col-auto">
													<i class="fas fa-tags text-c-success f-18"></i>
												</div>
											</div>
										</div>
									</div>
								</div>
								
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Paiments Page</h5>
                                            <div class="card-header-right">
                                                <div class="btn-group card-option">
                                                    <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="feather icon-more-horizontal"></i>
                                                    </button>
                                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                                        <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a>
                                                        </li>
                                                        <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                                        <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <!-- sessions-section start -->
								        <div class="row">
                                            <div class="col-xl-8 col-md-6">
									          <div class="card table-card">
										<div class="card-header">
											<h5>Historique </h5>
										</div>
										<div class="card-body px-0 py-0">
											<div class="table-responsive">
												<div class="session-scroll" style="height:478px;position:relative;">
													<table class="table table-hover m-b-0">
														<thead>
															<tr>
																<th><span>Identifiant</span></th>
																<th><span>Client</span></th>
																<th><span>Montant</span></th>
																<th><span>Date</span></th>
																<th><span>Actions</span></th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>001</td>
																<td>Yvan Schemel</td>
																<td>200.000 Fcfa</td>
																<td>13-06-2025</td>
																<td>
                                                                   
                                                                </td>
			
															</tr>
                                                            <tr>
																<td>002</td>
																<td>Landry Samba</td>
																<td>300.000 Fcfa</td>
																<td>15-10-2023</td>
																<td>
                                                                   
                                                                </td>
			
															</tr>
                                                            <tr>
																<td>003</td>
																<td>Landry Samba</td>
																<td>175.000 Fcfa</td>
																<td>19-12-2024</td>
																<td>
                                                                   
                                                                </td>
			
															</tr>
															
														</tbody>
													</table>
												</div>
											</div>
										</div>
									          </div>
								            </div>
								           <!-- sessions-section end -->
								          
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
