 <div class="navbar-wrapper ">
            <div class="navbar-brand header-logo">
                <a href="index.html" class="b-brand">
                    <img src="../assets/images/logo.svg" alt="" class="logo images">
                    <img src="../assets/images/logo-icon.svg" alt="" class="logo-thumb images">
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
            </div>
            <div class="navbar-content scroll-div">
                <ul class="nav pcoded-inner-navbar">
                    <li class="nav-item pcoded-menu-caption">
                        <label>Administration</label>
                    </li>
                    <li class="nav-item">
                        <a routerLink="dashboard" class="nav-link"><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                    </li>
                   
                    <li class="nav-item pcoded-menu-caption">
                        <label>Facturation &amp; Reseautage</label>
                    </li>
                    <li class="nav-item">
                        <a routerLink="facturation" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Faturation</span></a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="client" class="nav-link"><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span><span class="pcoded-mtext">Client</span></a>
                    </li>

                    <li class="nav-item pcoded-menu-caption">
                        <label>Configuration &amp; </label>
                    </li>
                    <li class="nav-item">
                        <a routerLink="configuration" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext">Configuration</span></a>
                    </li>
                   
                </ul>
                
            </div>
        </div>