 <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ breadcrumb ] start -->
                            <div class="page-header">
                                <div class="page-block">
                                    <div class="row align-items-center">
                                        <div class="col-md-12">
                                            <div class="page-header-title">
                                                <h5 class="m-b-10">Facture Page</h5>
                                            </div>
                                            <ul class="breadcrumb">
                                                <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                                                <li class="breadcrumb-item"><a href="#!">Facturation Page</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ breadcrumb ] end -->
                             <!-- Informations sur le client  -->
                            
                            <!-- [ Main Content ] start -->
                            <div class="container bg bg-white p-5">
                                <div class="row">
                                  
                                   
                                    <div class="col-md-12">
                                    
                                    <div class="d-flex justify-content-between">
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsum, ullam sunt harum a vel illum quam, nemo temporibus provident tempore incidunt enim sapiente consequatur!</p>
                                        <div>
                                            <button  class="btn btn-success " (click)="telechargementTotaleByDevis(1)"><i class="fa fa-print "></i></button>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card">

                                            <div class="card-body">
                                                <div class="row">
                                                <!-- Start .row -->
                                                    
                                                    <div class="col-lg-6">
                                                        <!-- col-lg-6 start here -->
                                                        <div class="invoice-logo"><img width="100" height="100" src="assets/images/logobusiness.jpg" alt="Invoice logo"></div>
                                                    </div>
                                                    <!-- col-lg-6 end here -->
                                                    <div class="col-lg-6">
                                                        <!-- col-lg-6 start here -->
                                                        <div class="invoice-from">
                                                            <ul class="list-unstyled text-right">
                                                                <li>Dash LLC</li>
                                                                <li>2500 Ridgepoint Dr, Suite 105-C</li>
                                                                <li>Austin TX 78754</li>
                                                                <li><span class="font-weight-bold">Devis N:</span>{{devisId}}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <!-- col-lg-6 end here -->
                                                    <div class="col-lg-12">
                                                        <hr>
                                                        <!-- col-lg-12 start here -->
                                                        <div class="invoice-details mt25">
                                                            <div class="well">
                                                                <ul class="list-unstyled mb-3">
                                                                    
                                                                    @if (!clientIsCreated()) {
                                                                        <form action="" [formGroup]="devisFb" (ngSubmit)="declarationDevis()">
                                                                            <div class="row mb-3">
                                                                                <li class="col-md-8 mb-1">
                                                                                    <span class="fw-bold">Maitre d'ouvrage:</span> 
                                                                                    <input type="text" class="form-control" formControlName="client">
                                                                                </li>
                                                                                <li class="col-md-4 mb-1">
                                                                                    <span class="fw-bold">Contact:</span> 
                                                                                    <input type="text" class="form-control" formControlName="telephone" >
                                                                                </li>
                                                                            </div> 
                                                                            
                                                                                <button type="submit" (click)="validation()" class="btn btn-outline-info align-right">Creer</button>
                                                                            
                                                                        </form>
                                                                    }
                                                                    @if (clientIsCreated()) {
                                                                         <div class="row mb-3">
                                                                            <li class="col-md-8 mb-1">
                                                                                <span class="font-weight-bold">Maitre d'ouvrage:</span> 
                                                                                {{clientInTreatment().nom}}
                                                                            </li>
                                                                            <li class="col-md-4 mb-1">
                                                                                <span class="font-weight-bold">Contact:</span> 
                                                                                {{clientInTreatment().telephone}}
                                                                            </li>
                                                                          </div> 
                                                                    }
                                                                    <hr>
                                                                    <div class="d-flex justify-content-between">
                                                                        <li><span class="font-weight-bold">Date:</span> {{currentDate.getDate() }}</li>
                                                                        <li><span class="font-weight-bold">Status:</span> <span class="badge badge-danger">UNPAID</span></li>
                                                                    </div>
                                                                    
                                                                  

                                                                </ul>
                                                            </div>
                                                        </div>
                                                       <hr>
                                                          <div class="invoice-details mt25">
                                                            <div class="well">
                                                                <ul class="list-unstyled mb-3">
                                                                    <div class="row mb-3">
                                                                    <li class="col-md-12 mb-1">
                                                                        <label for="exampleInputPassword1">Categorie de Travaux</label>
                                                                        <select class="form-control" id="exampleFormControlSelect1"   (change)="setTache($event)">
                                                                            @for (t of listTache(); track $index) {
                                                                                <option value="{{t.id}}">{{t.intitule}}</option>
                                                                            }
                                                                        </select>
                                                                    </li>
                                                                    
                                                                    </div>
                                                                   
                                                                </ul>
                                                            </div>
                                                          </div>
                                                          <hr>
                                                          <div class="invoice-items row">
                                                                <div class="col-md-4">
                                                                <div class="card">
                                                                    <div class="card-header">
                                                                        <h3 class="fw-bold">Constructeur</h3>
                                                                        <p class="card-text">
                                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, voluptatibus?
                                                                        </p>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <form [formGroup]="enregistrementFb" (ngSubmit)="constructionDevis()">
                                                                            <div class="form-group">
    
                                                                                <label for="exampleInputPassword1">Materiel</label>
                                                                                <select class="form-control" formControlName="materiel" >
                                                                                @for (m of listMateriel(); track $index) {
                                                                                    <option value="{{m.id}}" >{{m.intitule}}</option>
                                                                                }
                                                                                </select>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="exampleInputPassword1">Quantite</label>
                                                                                <input type="number" class="form-control" formControlName="quantite"  placeholder="Quantite">
                                                                            </div>
                                                                        
                                                                            <button type="submit" class="btn btn-outline-primary btn-block">Ajouter</button> 
                                                                        </form>

                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="table table-responsive col-md-8" style="overflow: hidden; outline: none;" tabindex="0">
                                                                    <p class="font-weight-bold"></p>
                                                                    <table class="table table-bordered " id="myTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="per70 text-center">Designation</th>
                                                                                <th class="per5 text-center">Quantite</th>
                                                                                <th class="per25 text-center">Prix Unitaire</th>
                                                                                <th class="per25 text-center">Prix Total</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        @for (e of listEnregistrement(); track $index) {
                                                                            <tr>
                                                                                <td >{{e.materiel.intitule}} </td>
                                                                                <td class="text-center">{{e.quantite}} {{e.materiel.unite}} </td>
                                                                                <td class="text-center">{{e.materiel.prixUnitaire}} Fcfa</td>
                                                                                <td class="text-center">{{e.quantite * e.materiel.prixUnitaire!}} Fcfa</td>
                                                                            </tr>
                                                                        }
                                                                        @empty {
                                                                                <tr>
                                                                                    <th colspan="4" class="text-center text-danger">Pas d'enregistrement pour cette tache</th>
                                                                                </tr>
                                                                        }
                                                                        </tbody>
                                                                       
                                                                    </table>
                                                                    <hr>
                                                                    <div class="d-flex justify-content-between">
                                                                        <span class="font-weight-bold ">Total: </span> 
                                                                        <span class="font-weight-bold h6"> <span class="text-danger">{{sommeEnregistrement()}} Fcfa</span></span> 
                                                                    </div>
                                                                    <hr>

                                                                </div>

                                                          </div>
                                                    
                                                    </div>
                                                    <!-- col-lg-12 end here -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>       
                                
                            </div>   

                            
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
 </div>